<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner position-relative">
      <div class="overlap position-absolute"></div>
      <div class="carousel-item active position-relative">
        <img src="../../../assets/images/home-pic4.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item position-relative">
        <img src="../../../assets/images/home-pic3.jpeg" class="d-block w-100 " alt="...">
      </div>
      <div class="carousel-item position-relative">
        <img src="../../../assets/images/home-pic2.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <div class="homeText">
       <h1>Live Academy</h1>
       <p>"people expect to be bored by elearning -- let's show them it doesn't have to be like that!"</p>
       <div class="btns">
           <button>JOIN US</button>
           <button>show products</button>
       </div>
    </div>
</div>
<!-- <app-all-product></app-all-product> -->
<!-- start watch video -->
<section class="watch-video">
  <div class="container">
    <div class="content-video">
      <h3>watch our videos</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem laboriosam similique id sunt necessitatibus, impedit sed ducimus culpa sapiente provident!</p>
    </div>
    <div class="video">
      <div class="box">
        <img src="../../../assets/images/man-pic11.jpeg" alt="img_video">
      </div>
      <div class="box"> 
        <img src="../../../assets/images/vedio-pic1.png" alt="img_video">
      </div>
      <div class="box">
        <img src="../../../assets/images/home-bg5.jpeg" alt="img_video">
      </div>
    </div>
  </div>
</section>
<app-all-products></app-all-products>
